.site-card-border-less-wrapper {
    background: #ececec;
    padding: 30px;
  }

  .sign-in-form{
    margin-left: auto;
    display: flex;
    justify-content: center;
    
    padding-top: 5%;
   
  }

  .success-icon .anticon svg {
    display: inline-block;
    width: 4rem;
    height: 4rem;
}

  .rc-anchor-normal .rc-anchor-content {
    height: 74px;
    width: 150px;
}

.g-recaptcha {
    transform:scale(0.77);
    transform-origin:0 0;
}

.username-warning{
   margin-top: 0px;
    color: red;
}

.SignUpBg .ant-drawer-content-wrapper{
    width: 400px !important;
}

.otp-div input{
    height: 40px;
    width: 40px !important;
    margin-top: 30px;
}

.SignUpBg{
  display: block;
  margin-left: 40px;
  background-repeat: repeat-y;
  -webkit-box-shadow: 4px -2px 33px 2px rgba(191,145,191,1);
-moz-box-shadow: 4px -2px 33px 2px rgba(191,145,191,1);
box-shadow: 4px -2px 33px 2px rgba(191,145,191,1);
}