.profile-left{
    /* background-color: brown; */
    width: 100%;
}

.myprofile-name{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
    display: inherit;
}

.ant-statistic-content{
    text-align: center;
    margin-left: 0px;
}


.colten{
    text-align: center;
}

.follow-button{
   float: left;
}

.nameWithToggle{
    display: contents;
}

.toggleButton{
    font-size: 14px;
    size: "small";
    margin-bottom: 5px;
}

.avatar-myprofile .ant-avatar{
    margin-bottom: 20px;
}