.post-avatar{
    margin-right: 10px;
}

.post-desc{
    margin-top: 65px;
}

.picture-component-full{
    margin-top: 20px;
}

.picture-component-full-profile{
    margin-top: 0px;
}

.post-tools{
    margin-top: 20px;
}

.left-tools{
    float: left;
}
.right-tools{
    float: right;
}

.agoTime{
    float: right;
    font-size: 13px;
}

.deletemypost{
    margin-top: 0px;
    display: block;
    margin-bottom: 10px;
    margin-left: 450px;
    /* float: right; */
    /* margin-right: 400px; */
}
