.post-avatar{
    margin-right: 10px;
    margin-bottom: 5px;
}

.post-desc{
    margin-top: 65px;
}

.myprofile-post{
    -webkit-box-shadow: 0px 1px 5px 6px rgba(227,207,227,1);
-moz-box-shadow: 0px 1px 5px 6px rgba(227,207,227,1);
box-shadow: 0px 1px 5px 6px rgba(227,207,227,1);
}

.picture-component-full{
    margin-top: 20px;
    opacity: 1;
    transition: opacity 2s linear;
}

.picture-component-full-profile{
    margin-top: 0px;
    opacity: 1;
     transition: opacity 0.5s linear;
}

.post-tools{
    margin-top: 20px;
}

.left-tools{
    float: left;
}
.right-tools{
    float: right;
}

.agoTime{
    float: right;
    font-size: 13px;
}

.deletemypost{
    margin-top: 0px;
    display: block;
    margin-bottom: 10px;
    margin-left: 450px;
    /* float: right; */
    /* margin-right: 400px; */
}
.qwerty{
    width: 420px;
    height: 200px;
    /* filter: blur(8px); */
    /* background-color: rgb(209, 208, 208); */
    /* -webkit-filter: blur(8px); */
    /* backdrop-filter: blur(8px); */
}

.qwerty2{
    width: 600px;
    height: 200px;
    /* filter: blur(8px); */
    /* background-color: rgb(209, 208, 208); */
    /* -webkit-filter: blur(8px); */
    /* backdrop-filter: blur(8px); */
}

.qwerty .qwertyimg{
    display: block;
    height: 100%;
    margin: auto !important;
      
   
}

.qwertyimg{
    padding: 1% 0 !important;
}

.qwerty2 .qwertyimg{
    display: block;
    height: 100%;
    margin: auto !important;
  
   
}