#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #F0F2F5;
    /* overflow: scroll;
    max-height: 846px;
    overflow-y: hidden;
    overflow-x: hidden; */
    
  }

  .site-layout-background:hover {
    background: #F0F2F5;
    /* overflow: scroll;
    max-height: 846px;
    overflow-y: scroll;
    overflow-x: hidden; */
    
  }

  /* .drawer{
    min-height: 500px;
  } */

  .ant-drawer-bottom.ant-drawer-open .ant-drawer-content-wrapper{
    height: 550px !important;
  }

  .layout{
      /* min-height: 546px; */
      min-height: 846px;
      
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ddc7dd;
    color: black;
    font-weight: bold;
}
  .sidebarbg{
    background-color: white;
    max-width: 275px !important;
    min-width: 275px !important;
  }
  .menubg{
    background-color: white;
   
    
  }